
{% extends 'entries/base.html' %}

{% block content %}  
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>

       <a href="{% url 'blog-home' %}">Back to Home</a>
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ object.entry_title }}</h2>
            <p class="card-text">{{ object.entry_text | linebreaks }}</p>
            
          </div>
          <div class="card-footer text-muted">
            Posted on {{ object.entry_date }} by
            <a href="#">{{ object.entry_author }}</a>
          </div>
        </div>

    



      </div>

{% endblock %}